<% layout("layouts/boilerplate") %>

    <div class="row justify-content-center">
        <h2 class="text-center">Edit <%= campground.title %></h2>
        <div class="col-md-8">
            <form action="/campgrounds" method="POST" class="my-2">
                <div class="form-group my-2">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" name="campground[title]" value="<%= campground['title'] %>" id="title" placeholder="Enter Title" required />
                </div>
                <div class="form-group my-2">
                    <label for="location">Location</label>
                    <input type="text" class="form-control" name="campground[location]"  value="<%= campground['location'] %>" id="location" placeholder="Enter Location" required />
                </div>
                <div class="form-group my-2">
                    <label for="price">Price</label>
                    <input type="number" class="form-control" name="campground[price]"  value="<%= campground['price'] %>" id="price" placeholder="Enter Price" required />
                </div>
                <div class="form-group my-2">
                    <label for="image">Image URL</label>
                    <input type="text" class="form-control" name="campground[image]"  value="<%= campground['image'] %>" id="image" placeholder="Enter Image URL" required />
                </div>
                <div class="form-group my-2">
                    <label for="description">Description</label>
                    <textarea name="campground[description]" class="form-control" id="description" cols="30" rows="5" placeholder="Enter Description" required><%=campground['description'] %></textarea>
                </div>
                <button class="btn btn-success">Submit</button>
            </form>
            <a href="/campgrounds/<%= campground._id %>">Back to Campground</a>
        </div>
    </div>