<% layout("layouts/boilerplate") %>
    <div class="row">
        <div id="map" style="width: 100%; height: 500px;"></div>
    </div>
    <div class="row">
        <h3 class="text-center my-4">All Campgrounds</h3>
        <% for(let campground of campgrounds) { %>
        <div class="col-12 my-2 px-2 pb-2">
            <div class="row">
                <div class="col-md-4">
                    <img src="<%= campground.images[0].url %>" class="img-fluid" alt="<%= campground.title %>'s Image"  />
                </div>
                <div class="col-md-8">
                    <h5 class="mb-2"><%= campground.title %></h5>
                    <p class="my-1"><%= campground.location %></p>
                    <p class="my-1"><%= campground.description %></p>
                    <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>
        <% } %>
    </div>
        

    <script>
        const campgrounds = { features: <%- JSON.stringify(campgrounds) %>}
    </script>
    <script src="/js/cluster-maps.js"></script>